name: QA Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Grant execute permission for gradle wrapper (si usas ./gradlew)
        run: chmod +x gradlew
        continue-on-error: true

      - name: Run tests
        env:
          BASE_URL: https://app.comunidadfeliz.com
          CF_USER: usuariopruebaqa3@comunidadfeliz.com
          CF_PASS: Prueba2025.
          HEADLESS: "true"
        run: |
          ./gradlew clean test

      - name: Upload Cucumber HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: cucumber-report
          path: build/reports/cucumber.html

      - name: Upload JUnit test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: junit-report
          path: build/reports/tests/test

      - name: Upload Allure results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: build/allure-results
